body {
  background-color: #3E67F8;

}

.quote-box {
    text-align: center;
    background-color: #6cfc7f;
    border-radius: 6px;
    margin: 8% auto;
    height: 2rem;
    padding: 40px 50px;
    width: 40rem;
    display: table;

}

.button {
    margin: 8% auto;
    width: 450px;
    display: block;

}

.quote-text {
    font-family: "Lucida Console";
    text-align: center;
    
    height:auto;
    clear:both;
    font-weight:500;
    font-size:1.75em;
}

i{
    font-size:2.0em;
    margin-right: 0.4em;
}


.quote-button {
    
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #00a9ff;
    padding: 8px 18px 6px 18px;
    opacity:1;
    cursor:pointer;
    &:hover {
        opacity:1.2;
    }
    
}

.quote-author {
    font-family: system-ui;
    font-size: 1.2em;
}
